:root {
    --background: #FEF7F9;
    /* 1 */
    --foreground: #FEF7F9;
    /* 2 */

    --card: #FFE9F0;
    /* 3 */
    --card-foreground: #E6E7FF;
    /* 4 */

    --selected-background: #E5004F31;
    /* 5 */
    --selected-border: #F8000442;
    --border: #F4A9AA;
    /* 7 */
    --ring: #F4A9AA;


    --low-contrast-text: white;
    /*#FFD3E2FE; /* 11 */
    --high-contrast-text: #e6d9dce8;

}

:root {

    --accent: 255, 0, 0;
    --accent-light: 255, 255, 255;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 50%,
            white 45%);

}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sectionTitle {
    margin-top:0;
    padding-top: 3vh;
    font-size: 1.8em;
    position: relative;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    /* Aligner le texte au centre horizontalement */


}



/*
1  App background
2  Subtle background
3  UI element background
4  Hovered UI element background
5  Active / Selected UI element background
6  Subtle borders and separators
7  UI element border and focus rings
8  Hovered UI element border
9  Solid backgrounds
10 Hovered solid backgrounds
11  Low-contrast text
12  High-contrast text
*/