  .header {
    position: relative;
    height: 400px;
    width: 100%;
    top: 150px;

    display: flex;
    /* Utilisation de flexbox pour aligner les éléments horizontalement */
    flex-wrap: wrap;

    opacity: 0; /* Texte invisible par défaut */
    transition: opacity 0.3s ease; /* Transition de l'opacité */

  }

  .header.visible{
    opacity: 1;
  }


  .presentation {
    width:100%;
    max-height: 300px;
    flex: 1;
    position: relative;
    left: 10%;
    top: 10%;
    align-items: center;
    /* Centrer verticalement */
  }

  .picture {
    flex: 1;
    right: 10%;
    top:10%;
    position: relative;
    animation: appear 1s ease-in-out;
    animation-delay: 0s;
    max-height: 300px;
    text-align: right;
    /* Centrer l'image horizontalement */


  }

  @keyframes appear {
    0% {
      opacity: 0;
      /* Commencez avec une opacité à 0 pour le texte invisible */
    }

    100% {
      opacity: 1;
      /* Finissez avec une opacité à 1 pour le texte visible */
    }
  }

  .name {
    position: relative;
    left: 2%;
    margin: 0;

    font-family: "Fjord One";
    font-weight: bolder;
    font-size: 56px;

    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;


    animation: appear 1s ease-in-out;
    animation-delay: 0s;
  }

  .description {
    position: relative; 
    font-family: "Ledger";
    font-size: 25px;
    color: white;

    animation: appear 1s ease-in-out;
    animation-delay: 0s;
  }

  .container {
    
    align-items: center;
    /* Aligner les éléments verticalement au centre */
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;

    animation: appear 1s ease-in-out;
    animation-delay: 0s;
  }

  .title {
    color: white;
    position: relative;
    font-weight: lighter;
    font-style: italic;

    animation: appear 1s ease-in-out;
    animation-delay: 0s;
    margin: 0;
    font-size: 29px;
  }

 
  
  @media screen and (max-width:1000px) and (min-width:500px){
    .name
    {
      font-size: 5.5vw;
    }

    .title
    {
      font-size: 3vw;
    }

    .description
    {
      font-size: 2.5vw;
    }

    .container{
      font-size: 1.6vw;
    }
    .header{
      top:100px;
    }

  }

    
  @media screen and (max-width:500px) {
    .name
    {
      
      font-size: 25px;
    }

    .title
    {
      font-size: 15px;
    }

    .description
    {
      font-size: 13px;
    }

    .container{
      font-size: 8px;
    }
    .header{
      top:50px;
 
    }
  }