:root {

    --accent: 255, 160, 87;
    --accent-light: 255, 224, 194;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );

}

html {
    background: var(--background);
    background-size: 224px;
    min-width: 300px;

}

