
.icon{
    position: relative;
    top:3px;
}

h3
{
    font-weight: bolder; 
    font-size: 1.7em;
    color:var(--low-contrast-text);
   
}
.skills
{
    position: relative;
    top:250px;
    text-align: center; /* Aligner le texte au centre horizontalement */
    color:var(--low-contrast-text);


}

.skillSection
{
    width: auto;
    padding: 0px 4.7vw 0px 4.7vw;
    color:var(--high-contrast-text);
}
.skillSection p
{
    font-size: 1.4em;
}
.test{

    position: relative;
    display: flex; /* Utilisation de flexbox pour centrer verticalement */
    flex-wrap: wrap;
    justify-content: center;
}

.skillsTitle
{
    font-size:2.2em;
    color:white;
    position: relative;
    width:100%;
    font-weight: bolder;

}

@media screen and (max-width: 900px)
{
    .skills{
        top:150px;
    }
}

@media screen and (max-width: 500px)
{
    .skillSection{
        font-size:  0.8em;
    }
    h3{
        font-size: 1.5em;
    }
    .skillsTitle{
        font-size:1.9em;

    }
}
