.icon {
    position: relative;
    top: 3px;
}

h3 {
    font-weight: bolder;
    font-size: 1.3em;
    color: black;


}


.skills {
    position: relative;
    text-align: center;
    /* Aligner le texte au centre horizontalement */
    font-family: 'Ledger';
    background-color: var(--foreground);
    width: 100%;
    min-height: 50vh;
}

.skillTemplate {
    position: relative;
    font-size: 1.1em;
    width: auto;
    padding: 0px 5vw 0px 5vw;
    color: black;

}

.skillTemplate p {
    font-size: 1.2em;
}

.skillsContent {
    width: 100%;
    position: relative;
    display: flex;
    /* Utilisation de flexbox pour centrer verticalement */
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (max-width: 900px) {

}

@media screen and (max-width: 500px) {
    .skillTemplate {
        font-size: 0.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    .sectionTitle {
        font-size: 1.6em;

    }
}