---
import Layout from '../layouts/Layout.astro';
import OverviewSection from '../components/OverviewSection.astro';
import Skills from '../components/SkillSection.astro';
import ProjectSection from '../components/ProjectSection.astro';


---

	<div class = "app">
	</div>
	<OverviewSection
	title="Salut l'ékip, c'est -"
	name="Gabriel SACCO"
	subtitle="Aspirant développeur web."
	job="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
/>

<style>

</style>

