---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';


---

<Layout title="Portfolio Gabriel SACCO">
	<main>
		<div>
			<Header
				title="Salut l'ékip, c'est -"
				name="Gabriel SACCO"
				subtitle="Aspirant développeur web."
				job="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
			/>
			<Skills file=""/>
			<Projects file=""/>
		</div>
	</main>
</Layout>

<style>

	.text-gradient {
		background-image: var(--background);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		color:white;
		background-position: 0%;
	}

</style>

