---
import Link from "../components/Link.astro";
import Profil from "../components/Profil.astro";
import NavigationBar from "../components/NavigationBar.astro";

import '../styles/header.css'


interface Props {
  name: string;
  title: string;
  subtitle: string;
  job: string;
}

const { name, title, subtitle, job } = Astro.props;
---

<NavigationBar/>
<section id = "header" class= "header">
  <div class="presentation">
    <div class="title">
      {title}
    </div>
    <div class="name">
      {name}
    </div>
    <div class="description">
      <span style="font-weight:bolder;">{subtitle}</span>
      {" " + job}
    </div>
    <div class="container">
      <Link
        icon="mdi:github"
        title="Github"
        href="https://github.com/SaccoGabriel"
      />
      <Link
        icon="mdi:linkedin"
        title="Linkedin"
        href="https://www.linkedin.com/in/gabriel-sacco"
      />
      <Link
        icon="mdi:email"
        title="gabriel.sacco74@gmail.com"
        href="mailto:gabriel.sacco74@gmail.com"
      />
    </div>
  </div>
  <div class="picture">
    <Profil file="GS.jpg"/> <!--Photo_Gabriel_SACCO.jpg" /> !-->
  </div>
</section>
