---
import Link from "../components/Link.astro";
import Profil from "../components/Profil.astro";
import NavigationBar from "../components/NavigationBar.astro";

import '../styles/header.css'
import '../styles/global.css'


interface Props {
  name: string;
  title: string;
  subtitle: string;
  job: string;
  body: string;
}

const { name, title, subtitle, body, job } = Astro.props;
---

<div class= "header">
  <NavigationBar/>

  <div class="presentation">
    <h1 class="title">
      {title}
    </h1>
    <h1 class="name">
      {name}
    </h1>
    <div class="description">
      <span style="font-weight:bolder;">{subtitle}</span>
      {" " + job}
    </div>
  <p></p>
    <div class="container">
      <Link
        icon="mdi:github"
        title="Github"
        href="https://github.com/SaccoGabriel"
      />
      <Link
        icon="mdi:linkedin"
        title="Linkedin"
        href="https://www.linkedin.com/in/gabriel-sacco"
      />
      <Link
        icon="mdi:email"
        title="gabriel.sacco74@gmail.com"
        href="mailto:gabriel.sacco74@gmail.com"
      />
    </div>
  </div>

  <div class="picture">
    <Profil file="Photo_Gabriel_SACCO.jpg" />
  </div>
</div>

