---
import '../styles/global.css'
interface Props {
	title: string;
	href: string;
}

const { href, title} = Astro.props;

---

<a class= "contact" href={href}> {title}</a>

<style>
    .contact
    {
        position: relative;
        margin: 3px;
        top: 10px;
        border-radius: 4px ;
        padding: 7px;
        background-color: aliceblue;
        color: inherit;
        text-underline-offset:inherit;
        text-decoration:none;
    }

    .contact:hover{
        background-color: lightcoral;
        color: inherit;
        text-underline-offset:inherit;
        text-decoration:none;
    }
</style>
