---
import { Icon } from 'astro-icon/components'

import '../styles/global.css'

interface Props {
	title: string;
	href: string;
    icon: string;
}

const { icon, href, title} = Astro.props;

---

<a class= "contact" href={href}> <span class="icon"><Icon name={icon} /></span> {title}</a>

<style>
    .icon
    {
        position: relative;
        top: 3px;
    }
    .contact
    {
        position: relative;
        margin: 3px;
        top: 10px;
        padding: 7px;

        text-underline-offset:inherit;
        text-decoration:none;
        border-radius: 20px;

        background: var(--card-foreground);
        color: var(--low-contrast-text);
         }

    .contact:hover{

        border-radius: 20px;
        background-color: var(--selected-background);
        color: var(--high-contrast-text);
        border-color:var(--selected-border);
        border-radius: 20px;

        text-underline-offset:inherit;
        text-decoration:none;
    }
</style>
