---
import "../styles/global.css";

interface Props {}

const {} = Astro.props;
---

<div>
  <a class="topnav" href="#skills"><span>Contact</span></a>

  <a class="topnav" href="#skills"><span>Skills</span></a>
  <a class="topnav" href="#projects"><span>Projets</span></a
  >
  <a class="topnav" href="#aboutMe"><span >About</span></a>

</div>

<style>
  .topnav {
    position: relative;
    top: 50px;
    float: right;
    margin-right: 15px;
    text-underline-offset: inherit;
    text-decoration: none;
    font-family: "Ledger";
    font-weight: bolder;
    color: var(--high-contrast-text);
  }
</style>
